<div class="row">
  <ul class="list-article list-group ">
    <li *ngFor="let item of article " class="list-group-item  xxx">
      <a class="" [routerLink]="['articles', item.id]"><h4 class="text-center">{{item.title}}</h4></a>
      <div class="well">
        <div class="col-md-6">
          <img [src]="item.imageUrl" alt="article-img" width="100%" height="200">
          <p class="well-sm">
            Author:
            <span class="badge">{{item.author}}</span>
            <span class="badge">{{item.date}}</span>
          </p>
        </div>
          <div class="row">
            <p>{{item.description}}</p>
            <div>
              <span class="badge pull-right">{{item.views}}</span>
              <span class="badge pull-right">{{item.rating.like}}</span>
              <span class="badge pull-right">{{item.rating.dislike}}</span>
            </div>
          </div>
        </div>
    </li>
  </ul>
</div>


