<div class="row" >
  <ul class="list-article list-group ">
    <li *ngFor="let item of articles  | async" class="list-group-item  xxx">
      <div class="row">
        <div class="col-md-5">
          <a class="" [routerLink]="['articles', item?.id]">
            <img class="img-responsive" [src]="item.imageUrl" alt="article-img">
          </a>
        </div>
          <div class="col-md-7">
            <div class="row">
              <a class="" [routerLink]="['articles', item.id]"><h4 class="">{{item.title}}</h4></a>
              <p>{{item.description}}</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="badge pull-left">{{item.author}}</span>
                <span class="badge pull-left">{{item.date}}</span>
              </div>
              <div class="col-md-6">
                <span class="badge pull-right">{{item.views}}</span>
                <span class="badge pull-right">{{item.rating.like}}</span>
                <span class="badge pull-right">{{item.rating.dislike}}</span>
              </div>
            </div>
          </div>
        </div>
    </li>
  </ul>
</div>


<div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

<div *ngIf="!finished">
  Loading more movies...
</div>
<div *ngIf="finished">
  End of database... That's all folks!
</div>



