<div class="row detail-side">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12  img-detail-box">
        <img class="img-responsive" [src]="detailArticle.imageUrl" [alt]="detailArticle.title" >
        <h3 class="well-sm text-center">{{detailArticle.title}}</h3>
        <blockquote>
            {{detailArticle.content}}
        </blockquote>
        <div class="row">
          <div class="col-md-6">
            <span class="badge ">{{detailArticle.date}}</span>
            <span class="badge ">{{detailArticle.author}}</span>
          </div>
          <div class="col-md-6">
            <span class="badge pull-right">{{detailArticle.views}}</span>
            <span class="badge pull-right">{{detailArticle.rating.like}}</span>
            <span class="badge pull-right">{{detailArticle.rating.dislike}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
